<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>penis</title>
    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body>
    <h1><%= poo %></h1>
    <h1><%= owen %></h1>
    <p>
      <ul>
        <% authorities.forEach((authority) => { %>
          <li>
            <%= authority.Name %>:
            <strong><%= authority.SchemeType %></strong>
          </li>
        <% }) %>
      </ul>
    </p>
  </body>
</html>
